* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    ul {
        position: relative;
        display: flex;
        li {
            position: relative;
            list-style: none;
            height: 60px;
            width: 60px;
            margin: 0 30px;
            transform: rotate(-30deg) skew(25deg);
            background: #ccc;

            span {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: #000;
                transition: .5s;
                display: flex !important;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 30px !important;
            }
        }

        li:hover {
            span:nth-child(5){
                transform: translate(40px,-40px);
            }

            span:nth-child(4){
                transform: translate(30px,-30px);
                opacity: .8;
            }

            span:nth-child(3){
                transform: translate(20px,-20px);
                opacity: .6;
            }

            span:nth-child(2){
                transform: translate(10px,-10px);
                opacity: .4;
            }

            span:nth-child(1){
                transform: translate(0,0);
                opacity: .2;
            }
        }

        li:nth-child(4) span{
            background: #16a085;
        }

        li:nth-child(3) span{
            background: #f39c12;
        }

        li:nth-child(2) span{
            background: #27ae60;
        }

        li:nth-child(1) span{
            background: #e74c3c;
        }
    }
}